<div class="sidebar">
    <div class="content">
        <div class="close-sidebar" (click)="closeSidebar()"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="logo">
            <h2><i class="fa-solid fa-heart-pulse"></i>Healthcare</h2>
        </div>
        <div class="navbar">
             <!-- <div class="divider"></div> -->

      <ul class="nav">
            <li *ngFor="let link of links"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()">
                <a [routerLink]="link.path">
                <i [ngClass]="link.icon"></i>{{ link.label }}
                </a>
            </li>
        </ul>

        </div>

        <div class="help-link">
            <a href="#" (click)=" logout()"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </div>
    </div>
</div>

