<div class="overview">
    <div class="title">
        <h3>System Report</h3>
        <div class="buttons">
            <button class="btn"><i class="fa fa-download" aria-hidden="true"></i> Export</button>
        </div>
    </div>

    <app-doctor-stats-component></app-doctor-stats-component>

    <div class="chart-box">
        <div class="box">
            <div class="chart">
                 <h3>Appointment Stats Summary</h3>
               <div class="box-chart">
                <ngx-charts-bar-vertical
                    [results]="appointmentStatsBar"
                    [customColors]="customColors"
                    [xAxis]="true"
                    [view]="view"
                    [yAxis]="true"
                    [legend]="false"
                    [roundEdges]="true">
                </ngx-charts-bar-vertical>
               </div> 
            </div>
        </div>
        <div class="box">
            <div class="chart">
                <h3>Top Doctors Summary</h3>
                <div class="box-chart">
                    <ngx-charts-pie-chart
                        [results]="appointmentStatsPie"
                        [customColors]="customColors"
                        [legend]="true"
                        [view]="view"
                        [explodeSlices]="false"
                        [doughnut]="true"
                        [labels]="true">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="chart">
                <h3>Top Doctors (By Approved Appointments)</h3>
               <div class="table-container">
                    @if (topDoctors && topDoctors.length > 0) {
                            <div class="table-content">
                            <table>
                                <thead>
                                    <tr>
                                    <th>Photo</th>
                                    <th>Doctor</th>
                                    <th>Appointments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let doc of topDoctors.slice(0,4)">
                                    <td>
                                        <img [src]="'https://hcbsapi-gqb6eahuccaufrgh.southafricanorth-01.azurewebsites.net' + doc.doctorImage" alt="Profile" class="image">
                                    </td>
                                    <td>Dr.{{ doc.doctorName }}</td>
                                    <td>{{ doc.count }}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            }@else {
                                <p>Top doctors not available.</p>
                            }
                </div>
            </div>
        </div>
         <div class="box">
            <div class="chart">
                <h3>Top Patient & Doctors Summary</h3>
                <div class="box-chart">
                    <ngx-charts-pie-chart
                        [results]="appointmentStatsPie"
                        [customColors]="customColors"
                        [legend]="true"
                        [view]="view"
                        [explodeSlices]="false"
                        [doughnut]="false"
                        [labels]="true">
                    </ngx-charts-pie-chart>
                </div>
            

            </div>
        </div>
    </div>
</div>
