<div class="overview">
    <div class="content">
        <div class="title">
            <h3>My Patients</h3>
             <span class="date"><i class="fa-regular fa-calendar-days"></i>{{ getDate() | date: 'MMM d, y, h:m a' }}</span>
        </div>

       <div class="patients-box">
        @if (approvedPatients && approvedPatients.length > 0) {
            <div class="box" *ngFor="let patient of approvedPatients">
                <i class="fa-solid fa-ellipsis-vertical"></i>
                <div class="box-img">
                <img [src]="patient.profileImagePath ? 'https://hcbsapi-gqb6eahuccaufrgh.southafricanorth-01.azurewebsites.net' + patient.profileImagePath : 'assets/img/male_user_40px.png'" alt="Patient" class="img-box">
                </div>
                <div class="text">
                <h3>{{ patient.fullName }}</h3>
                <span>{{ patient.email }}</span>
                </div>
            </div>
        }@else {
            <p>No patients yet, people are health.</p>
        }
           
        </div>

    </div>
</div>
